{% block chat %}
<div class="wrapper">
<!--   <nav class="nav" id="nav">
    <div class="default-nav">
      <div class="main-nav">
        <div class="toggle"></div>
        <div class="main-nav-item"><a class="main-nav-item-link" href="#">Blake</a></div>
        <div class="options"></div>
      </div>
    </div>
  </nav> -->
  <div class="inner" id="inner">
    <div class="content" id="content"></div>
  </div>
  <div class="bottom" id="bottom">
    <textarea class="input" id="input"></textarea>
    <div class="send" id="send"></div>
  </div>
</div>
{% endblock %}