<html>

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'Account/style/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'Account/style/views.css' %}" />
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src = "{% static 'p5/p5.min.js' %}"></script>
    <script src="{% static 'p5/addons/p5.dom.min.js' %}"></script> 

    <script src = "{% static 'Account/loading.js' %}"></script>
    <script src = "{% static 'Account/js/preloader_p5.js' %}"></script>

    <style>
        .center-flexbox {
            display: flex;
            flew-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class = "loader" name = "loader" id = "loader">
    </div>
</body>

</html>