<html>
<head>
    {% load staticfiles %}
    <link rel = "stylesheet" href="{% static 'Account/style/main.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script src = "{% static 'Slicer/js/updateDocComment.js' %}"></script>

    <script src = "{% static 'papaparse.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'Slicer/style/viewer.css' %}" />
</head>
<body>

{% block topbar %} {% include 'Account/topbar.html' %} {% endblock %}
{% block sidebar %} {% include 'Account/sidebar.html' %} {% endblock %}
<center><h3>Просмотр снимка</h3></center>

<div class = "row">
  <div class = "col s12 m4 l2"></div>
  <div class = "col s12 m4 l8">
  <p class="truncate"><b>Patient ID: </b> {{ seriesInfo.PatientID }}</p>
  <p class="truncate"><b>Study ID: </b> {{ seriesInfo.StudyID }}</p>
  <p class="truncate"><b>Series ID: </b> {{ seriesInfo.SeriesInstanceUID }}</p>
  </div>
  <div class = "col s12 m4 l2"></div>
</div>
<div class = "row">
  <div class = "col s1">
  </div>
  <div class = "col s10">
    <div class = "row">
      <div class = "col s3 leftbar_tools">
         <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="col s10">
                <textarea id="doc_comment" name = "doc_comment" class="materialize-textarea" data-length="250"></textarea>
                <label for="doc_comment">Комментарий доктора</label>
              </div>
              <div class = "col s1" style="margin-top: 10%;">
                <a class="btn-floating btn-small waves-effect waves-light red" onclick="sendDocComment()"><i class="material-icons">edit</i></a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class = "col s6">
      <center>
        <div><span id="imageCounter">1</span>/{{ seriesInfo.slicesCnt }}</div>
        <a href = "" id = "imageLink">
            <img id="imageBox" src="#" class="series_viewer">
        </a>
        <br />  <br />  <br />

        <div style = "width: 60%">
          <div id="slice-slider"></div>
        </div>
        <br />
        <a class="waves-effect waves-light btn" onclick="previous();return false;"><i class = "material-icons left">arrow_back</i> Назад </a>
        <a class="waves-effect waves-light btn" onclick="next();return false;"><i class = "material-icons right">arrow_forward</i> Вперед </a>
      </center>
      </div>
      <div class="col s3 rightbar_tools">
        <div class="input-field col s12">
          <select id = "changePallete">
            <option value="1">gray</option>
            <option value="2">bone</option>
          </select>
          <label>Выберите цветовую маску</label>
        </div>

        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" id = "isPreview" />
            <span>Использовать как превью</span>
          </label>
        </p>

        <div class="collection masks-collection">
          <a href="#!" class="collection-item predictionMaskItem" value="">Убрать маску</a>

          {% for m in masks %}
            {% if m.processProgress == 1 %}
              <a href="#!" class="collection-item tooltipped predictionMaskItem" data-position="bottom" data-tooltip="{{ m.maskDescription }}" value="{{ m.maskFolder }}">{{ m.maskName }}</a>
            {% endif %}
          {% endfor %}
          <!-- <span class="badge">1</span> -->
        </div>

        <div id = "uploadButtonContainer">
          <a class="waves-effect waves-light btn-small" onclick="uploadPredictionMask()"><i class="material-icons left">file_upload</i>Загрузить маску</a>
        </div>

        <div class = "col s10" id = "maskUploadProgressContainer"></div>
      </div>
    </div>
  </div>
  <div class = "col s1">
  </div>
</div>

<br />

<div id = "predictionImage">
  <h4>Предсказание</h4>
  <div>
    <div class = "popupCloseButton" id = "popupCloseButton">  <a class="btn-floating btn waves-effect waves-light red"><i class="material-icons">close</i></a></div>
    <canvas id = "predictionCanvas"></canvas>
  </div>
</div>

<div class = "row">
  <div class = "col s1"></div>
  <div class = "col s10">
    <div id = "uploadResearchContainer"></div>
  </div>
  <div class = "col s1"></div>
</div>

<div class = "row">
  <div class = "col s12 m4 l2"></div>
  <div class = "col s12 m4 l8">
  <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">info</i> </b> Расширенная информация </div>
            <div class="collapsible-body">
                <p class="truncate"><b>FilterType: </b> {{ seriesInfo.FilterType }}</p>
                <p class="truncate"><b>PatientAge: </b> {{ seriesInfo.PatientAge }}</p>
                <p class="truncate"><b>PatientBirthDate: </b> {{ seriesInfo.PatientBirthDate }}</p>
                <p class="truncate"><b>PatientID: </b> {{ seriesInfo.PatientID }}</p>
                <p class="truncate"><b>PatientPosition: </b> {{ seriesInfo.PatientPosition }}</p>
                <p class="truncate"><b>PatientSex: </b> {{ seriesInfo.PatientSex }}</p>
                <p class="truncate"><b>ScanOptions: </b> {{ seriesInfo.ScanOptions }}</p>
                <p class="truncate"><b>SeriesDescription: </b> {{ seriesInfo.SeriesDescription }}</p>
                <p class="truncate"><b>SeriesTime: </b> {{ seriesInfo.SeriesTime }}</p>
                <p class="truncate"><b>StationName: </b> {{ seriesInfo.StationName }}</p>
                <p class="truncate"><b>StudyDate: </b> {{ seriesInfo.StudyDate }}</p>
                <p class="truncate"><b>StudyID: </b> {{ seriesInfo.StudyID }}</p>
                <p class="truncate"><b>StudyStatusID: </b> {{ seriesInfo.StudyStatusID }}</p>
                <p class="truncate"><b>StudyTime: </b> {{ seriesInfo.StudyTime }}</p>
                <p class="truncate"><b>Manufacturer: </b> {{ seriesInfo.Manufacturer }}</p>
          </div>
        </li>
    </ul>
  <div class = "col s12 m4 l2"></div>
  {% csrf_token %}
</div>
<br />

<script>
    function updateIsPreview() {
      if (previewSlice == imageName) {
        $("#isPreview").prop("checked", true);
      } else {
        $("#isPreview").prop("checked", false);
      }
    }

    let DICOM_PALLETE = "gray";
    let MASK_FOLDER = "";
    let imageName = "0_gray.png";
    let previewSlice = "{{ seriesInfo.previewSlice }}";
    const SERIES_ID = {{ seriesInfo.seriesID }};

    function buildImageURL(image) {
      if (MASK_FOLDER == "") {
        return `/media/images/{{ seriesInfo.slices_dir }}/${image}`;
      } else {
        return `/media/images/{{ seriesInfo.slices_dir }}/${MASK_FOLDER}/${image}`;
      }
    }

    $(".predictionMaskItem").click(function() {
      let $input = $( this );
      MASK_FOLDER = $input.attr("value");
      document.getElementById("imageBox").src = buildImageURL(imageName);
      document.getElementById("imageLink").href = buildImageURL(imageName);
    });

    $("textarea#doc_comment").val("{{seriesInfo.doctorComment}}"); 

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });         
    $(document).ready(function(){
      $('select').formSelect();
    });   
    $(document).ready(function() {
      $('textarea#doc_comment').characterCounter();
    });

    var imageCounter = 0;
    var slider = document.getElementById('slice-slider');
    noUiSlider.create(slider, {
      start: [0,],
      tooltips: true,
      step: 1,
      orientation: 'horizontal', // 'horizontal' or 'vertical'
      range: {
        'min': 1,
        'max': {{ seriesInfo.slicesCnt }},
      },
      format: wNumb({
        decimals: 0
      }),
    });

    getSlice(1);

    function previous() {
      imageCounter--;
      if(imageCounter < 1) {
        imageCounter = {{ seriesInfo.slicesCnt }};
      }
      imageName = imageCounter - 1 + "_" + DICOM_PALLETE + '.png';
      document.getElementById("imageCounter").innerHTML = imageCounter;
      document.getElementById("imageBox").src = buildImageURL(imageName);
      document.getElementById("imageLink").href = buildImageURL(imageName);

      slider.noUiSlider.updateOptions({
        start: imageCounter,
      });

      updateIsPreview();
    }

    function next() {
        imageCounter++;
        if(imageCounter > {{ seriesInfo.slicesCnt }}) {
          imageCounter = 1;
        }
        imageName = imageCounter - 1 + "_" + DICOM_PALLETE + '.png';
        document.getElementById("imageCounter").innerHTML = imageCounter;
        document.getElementById("imageBox").src = buildImageURL(imageName);
        document.getElementById("imageLink").href = buildImageURL(imageName);

        slider.noUiSlider.updateOptions({
          start: imageCounter,
        });
        
        updateIsPreview();
    }

    function getSlice(image_id) {
      if(image_id > {{ seriesInfo.slicesCnt }}) {
        image_id = 1;
      }
      if(image_id < 1) {
        image_id = {{ seriesInfo.slicesCnt }};
      }
      imageCounter = image_id;
      imageName = image_id - 1 + "_" + DICOM_PALLETE + '.png';
      document.getElementById("imageCounter").innerHTML = image_id;
      document.getElementById("imageBox").src = buildImageURL(imageName);
      document.getElementById("imageLink").href = buildImageURL(imageName);

      slider.noUiSlider.updateOptions({
        start: image_id,
      });

      updateIsPreview();
    }
</script>
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
        
</script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>

<!-- <script src = "{% static 'Slicer/js/uploadPredictionFile.js' %}"></script> -->
<script src = "{% static 'Slicer/js/uploadPredictionMask.js' %}"></script>
<script src = "{% static 'Slicer/js/viewer.js' %}"></script>

</body>
</html>
