<html>
    <head>
        {% load staticfiles %}
        <link rel = "stylesheet" href="{% static 'Account/style/main.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    </head>
    <body>
        {% block topbar %} {% include 'Account/topbar.html' %} {% endblock %}
        {% block sidebar %} {% include 'Account/sidebar.html' %} {% endblock %}
        {% csrf_token %}
        <center>
            <a id = "predictFormButton" class="waves-effect waves-light btn" onclick="sendPredictForm()"><i class="material-icons left">cloud</i>Предсказать</a>
        </center>
        <script src = "{% static 'Account/js/predict_form.js' %}"> </script>
    </body>
</html>